.navbar {
    background-color: #575757;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    gap: 1rem;
}

.navbar a{
    color: #0ee90e;
    transition: .4s;
}

.navbar a:not(h2 a):hover{
    font-size: 1.05rem;
}
.navbar a:hover{
    color: #fff;
}
